* {
  margin: 0;
  padding:0;
}
a{
  color: #020202;
  text-decoration: none;
}
a:hover{
  color: #020202;
  text-decoration: none;
}
.navbar{
  img{
    width: auto;
    margin-top: 0;

  }
}
.afflatus-Banner{
  //border:@bd;
  background-image: url(../../../images/ZYS/album/album-1/Large/album-1-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 480px;
}
.banner-H4{
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 2px;
  //border: 1px solid red;
}
.banner-P{
  //border: 1px solid red;
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #cecece;
}
img{
  width: 100%;
  margin-top: 20px;
}
.text-P{
  letter-spacing: 2px;
}
.text-A{
  text-decoration: underline;
  color: #020202;
}
.center-P{
  //border:1px solid red;
  text-align: center;
  font-weight: bold;
}
.choice-P{
  font-size: 14px;
  //border:1px solid red;
  width: 30%;
  margin:0 auto;
  text-align: center;
  color: gray;
  background-color: rgba(231, 233, 233, 0.65);
}