ul.side_outer_ul{
    padding-top+: 50px;
    padding-bottom+: 50px;
    background-color: #fff;
    li{
        list-style: none;
    }
    .h5{
        margin-top: 20px;
        font-weight: bolder;
        .personal_inner_ul{
            font-weight: normal;
        }
    }
}