/*.container > div {*/
/*    outline: 1px dashed green;*/
/*}*/

/*div {*/
/*    outline: 1px dashed skyblue;*/
/*}*/

header {
    height: 50px;
    margin-bottom: 10px;
}

.middle-content {
    min-height: 850px;
}

/*左导航*/
section nav {
    margin-top: 20px;
}

section nav ul li {
    list-style: none;
    height: 35px;
    line-height: 35px;
}

section nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
}

.borderBottom {
    /*border-bottom: 1px solid #1a1a1a ;*/
    font-weight: 600;
}

.navUl {
    padding: 0;
}

.navH4 {
    margin-top: 30px;
}

/*左导航（完）*/

.content {
    margin: 40px 36px;
}

.content > hr {
    margin-bottom: 30px;
}

li {
    list-style: none;
}

/*--------content------*/
.account > ul {
    padding: 0;
}

.account li {
    box-sizing: content-box;
    position: relative;
    height: 48px;
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

.icon-left {
    position: absolute;
    left: 0;
    top: 30px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.text-title {
    padding-left: 60px;
}

.text-title > p {
    margin: 0;
}

.text-title > p:first-child {
    color: #555;
    font-weight: bold;
}

.text-title > p:last-child {
    color: #9d9d9d;
    font-size: 14px;
}

.btn-alter {
    position: absolute;
    bottom: 35px;
    right: 40px;
}

/*----------modal:myPhone*/
.modal-body {
    width: 80%;
    margin: 10px auto;
}

.modal-body > div {
    margin-bottom: 20px;
}

.modal-body label {
    font-weight: bold;
}

.new_password > input {
    margin-bottom: 10px;
}

.new_password p {
    margin-bottom: 0;
    font-size: 14px;
    color: #9d9d9d;
}

.verification {
    position: relative;
}

.verification > .form-control {
    /*display: inline-block;*/
    width: 50%;
}

.verification > img {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 125px;
    height: 42px;
}

.step-email {
    width: 120%;
    margin-left: -10%;
}

.step-email > p {
    display: inline-block;
    width: 32%;
    text-align: center;
    font-size: 14px;
    color: #9d9d9d;
}

.phone-modal-body {
    height: 260px;
}

.phone-modal-body > h6 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

.phone-modal-body > .text-phone {
    margin-bottom: 30px;
}

.text-phone > span {
    color: #32b16c;
}

.phone-modal-body > button {
    display: block;
    width: 180px;
    height: 40px;
    margin: 0 auto;
}

.phone-modal-body > p:last-child {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: blue;
}