/*.container > div {*/
/*    outline: 1px dashed green;*/
/*}*/

/*div {*/
/*    outline: 1px dashed skyblue;*/
/*}*/

header {
    height: 50px;
    margin-bottom: 10px;
}

.middle-content{
    min-height: 850px;
}

/*左导航*/
section nav {
    margin-top: 20px;
}

section nav ul li {
    list-style: none;
    height: 35px;
    line-height: 35px;
}

section nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
}

.borderBottom {
    /*border-bottom: 1px solid #1a1a1a ;*/
    font-weight: 600;
}

.navUl {
    padding: 0;
}

.navH4 {
    margin-top: 30px;
}

/*左导航（完）*/

.content {
    margin: 40px 36px;
}

.content > hr {
    margin-bottom: 30px;
}

/*----collectList-----*/
.collection > a > img {
    width: 100%;
}

.collection {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.explain > p {
    margin: 0;
}

.font-bold {
    font-weight: bold;
}

.explain > div {
    font-size: .75rem;
    color: #707070;
}

.several-color {
    background-color: #f3f3f3;
}

.collection-btn {
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.collection:hover .collection-btn {
    visibility: visible;
    opacity: 1;
}

.collection-btn > a {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.collection-btn > a {
    text-decoration: none;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    font-size: 14px;
}

.collection-btn > a:last-child {
    background-color: #0f0f0f;
    color: #FFFFFF;
}