@theme-white: #f0f5f9;
@theme-lighter: #c9d6df;
@theme-darker: #52616b;
@theme-black: #1e2022;
@item_height: 90px;
@content-font: 400 .8em '微软雅黑';

body{
    padding-top: 100px;
}
.addr_box {
    .addr_item {
        height: 100px;
        width: 180px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid @theme-black;
        font: @content-font;
        float: left;
        margin-left: 20px;
    }
    .addr_item:hover{
        cursor: pointer;
    }
    .addr_item.checked {
        border: 3px solid @theme-black;
    }

    .addr_item.addr_default {
        .addr_foot:before {
            content: '';
            display: block;
            float: left;
            height: 1.2rem;
            width: 2.2rem;
            background: url(../../images/addr_default.png) no-repeat center;
            background-size: 100% auto;
        }
    }

    .add_addr {
        height: 100px;
        width: 180px;
        padding: 10px;
        float: left;
        margin-left: 20px;
        border: 1px dashed @theme-darker;
        font: @content-font;
        line-height: 83px;
        text-align: center;
    }

    .add_addr:hover {
        cursor: pointer;
    }
}

/*分隔符*/
.separator {
    height: 2px;
    background-color: @theme-darker;
    margin: 30px 0;
}

.checkout_item {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    height: @item_height;

    > * {
        position: absolute;
        top: 50%+20px;
        margin-right: 50px;
    }

    a {
        margin-top: -70px;

        img {
            height: @item_height;
            width: @item_height+30px;
        }
    }

    div:nth-of-type(1) {
        left: 15%;
        margin-top: -22px;
    }

    div:nth-of-type(2) {
        left: 50%;
        margin-top: -30px;
    }

    div:nth-of-type(3) {
        right: 7%;
        margin-top: -30px;
    }

    div:nth-of-type(4) {
        right: -10%;
        margin-top: -30px;
    }
}

.price_info {
    position: relative;
    top+: 25px;
    left+: 30px;
    .col-xs-6{
        >*{
            line-height: 2em;
        }
    }
    > div {
        margin-top+: 20px;
        float: right;
    }
}

.checkout_footer {
    padding-bottom: 20px;
    > div {
        margin-top+: 10px;

        .middle {
            margin-top+: 1em;
        }
    }
}