header{
    text-align: center;
    line-height: 144px;
    width: 100%;
    height: 100px;
    background-color: pink;
    overflow: hidden;
}
.commodity{
    padding: 0;
}
.commodity>div{
      padding: 0;
  }
.commodity>div>div{
    margin-right:20px ;

}
.commodity div div img{
    width: 100%;
}
.commodity>div>div>div{
    text-align: center;
    font-size: 16px;
}
.commodity>.col-lg-3{
    min-height: 450px;
}
.xiangqing>div>div>h4{
    font-weight: 700;
}
.money:before{
    content: '￥';
    font-weight: 400;
    display: inline-block;
}
.money:after{
    content: '起';
    font-weight: 400;
    display: inline-block;
}
.selectiveColor{
    background-color: whitesmoke;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
}
.myHide{
    /*background-color: rgb(0, 0, 0);*/
    position: absolute;
    top: 22%;
    opacity: 0;
    transition: all .5s;
}
.myShow{
    transition: all .5s;
}
.miaosu{
    display: inline-block;
    border: 5px solid #333333;
    padding: 8px;
    margin:0 55px 0 40px;
}
.dibei{
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    margin-top: 140px;
}
.commodity>div>div:hover .myHide{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.46);

}
.commodity>div>div:hover .myShow{
    opacity: 0;
}
.commodity>div>div:hover{
    background-color: rgba(255, 255, 255, 0.16);
}
.xiangqing{
    color: #333;
    text-align: center;
    display: inline-block;
}
.xiangqing>.myShow>h4{
    font-weight: 700;
}
.xiangqing:link{
    color: #333;
    text-decoration: none;
}
.xiangqing:visited{
    color: #333;
    text-decoration: none;
}
.xiangqing:hover{
    color: #333;
    text-decoration: none;
}
.xiangqing:active{
    color: #333;
    text-decoration: none;
}
