* {
    margin: 0;
    padding: 0;
}

.thumbnail {
    border: none;
    padding: 0;
}

h2 {
    font-size: 28px;
}

h4 {
    font-weight: 700;
}

.strong {
    font-weight: 700;
    font-size: 18px;
}

.explain {
    color: #333;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.explain:hover {
    text-decoration: none;
}

/*价格*/
.money, .money1 {
    font-weight: 700;
    font-size: 17px;
}

.money:before {
    content: '￥';
    font-weight: 400;
    display: inline-block;
}

.money:after {
    content: '起';
    font-weight: 400;
    display: inline-block;
}

.money1:before {
    content: '￥';
    font-weight: 400;
    display: inline-block;
}

.down {
    border-top: 1px solid #e9e9e9;
    color: #333;
    padding-top: 10px;
    margin-top: 140px;
}

.myHide {
    position: absolute;
    top: 22%;
    opacity: 0;
    transition: all .5s;
}

.myShow {
    transition: all .5s;
}

.describe {
    display: inline-block;
    border: 5px solid #333333;
    padding: 8px;
    color: #333;
    margin: 0 55px 0 40px;
}

.thumbnail:hover .myHide {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.46);
}

.thumbnail:hover .myShow {
    opacity: 0;
}

.saleColor {
    background: #ffeded;
    color: #e56a69;
}

.colorSelect {
    background-color: whitesmoke;
}

.part1 {
    margin-top: 100px;
}

.part2 {
    margin-top: 100px;
}

.part3 {
    margin-top: 100px;
}

.part4 {
    margin-top: 100px;
}

.part5 {
    margin-top: 100px;
    padding: 0;
}

/*==========背景部分============*/
.background {
    margin-top: 50px;
    background: url("../../images/ZF/background.jpg") no-repeat center;
    height: 297px;
}

.first {
    margin-top: 70px;
}

.second:hover {
    cursor: pointer;
}

.second:hover a {
    text-decoration: none;
}

.iconSet::before {
    display: block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 64px;
    color: white;
    margin-left: 50px;
}

.fontSet {
    color: white;
    margin-top: 30px;
    text-align: center;
}

.fontSet span {
    font-size: 26px;
}

.mess {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-bottom: 1px solid #d2d2d2;
    overflow: hidden;
    /*text-align: right;*/
}

.mess dt {
    float: left;
    font-size: 24px;
    line-height: 50px;
}

.mess dd {
    float: right;

}

.mess dd a {
    float: left;
    padding: 0 12px;
    color: #000;
    font-size: 15px;
}

.mess dd a:hover {
    text-decoration: none;
    color: #a0a0a0;
}

h3 {
    font-size: 15px;
}

/*更多*/
.more {
    width: 150px;
    height: 150px;
    margin: 75px 0 0 50px;
    border: 9px solid #707070;
    display: inline-block;
}

.more:hover {
    text-decoration: none;
    border: 9px solid #A0A0A0;
}

.more p {
    font-size: 18px;
    color: #313131;
    text-align: center;
}

.more:hover p {
    color: #A0A0A0;
}

.more p:first-child {
    margin-top: 35px;
}

/*=======part5===========*/
.show {
    margin-top: 50px;
    margin-bottom: 50px;
}

.show > div {
    float: left;
    position: relative;
    width: 378px;
    height: 378px;
    /*width: 19vw;*/
    margin-left: 2px;

}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 35px;
}

.myHide1 {
    position: absolute;
    top: 0;
    width: 378px;
    height: 378px;
    opacity: 0;
    transition: all .5s;
    z-index: 1;
}

.myHide1:hover {
    opacity: 1;
}

.describe1 {
    width: 225px;
    height: 54px;
    line-height: 20px;
    margin: 15px auto 0;
    font-size: 13px;
    text-align: center;
}

.describe2 {
    width: 100px;
    height: 50px;
    margin: 80px auto 0;
    text-align: center;
    border: 3px solid #e9ba70;
    color: #e9ba70;
}

.more1 {
    width: 480px;
    height: 50px;
    margin: 50px auto 40px;
    line-height: 50px;
    font-size: 15px;
    background: none;
    border: 2px solid #313131;
    color: #313131;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.more1:hover {
    background: #313131;
    color: #fff;
    border: none;
}


















